body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 10px;
}

.title {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
}

.row {
    display: flex;
    align-items: center;
    user-select: none;
    margin-bottom: 10px;
    white-space: nowrap;
}
.row:last-child {
    margin-bottom: 0;
}

.label {
    flex: 1;
    padding-right: 20px;
    font-size: 14px;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    font-size: 20px;
    width: 1.8em;
    height: 1em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1em;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.8em;
    width: 0.8em;
    left: 0.1em;
    top: 0.1em;
    border-radius: 50%;
    background-color: white;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    left: auto;
    right: 0.1em;
}